@model TheGathering.Web.Models.Volunteer
@{
	ViewBag.Title = "EventRegistered";
}

<h2>Event Already Registered</h2>

<div>
	<p>
		You have already registered for this event!
	</p>
	<p>
		@Html.ActionLink("Back to Event List", "Index", "VolunteerEvent", null, new { @class = "btn btn-primary" })
		@Html.ActionLink("To Calendar", "VolunteerCalendar", "VolunteerEvent", null, new { @class = "btn btn-primary" })
		@Html.ActionLink("See Your Events", "UserEventsList", null, new { @class = "btn btn-info" })
</div>

