@model TheGathering.Web.Models.Volunteer
@{
    ViewBag.Title = "EventRegistered";
}

<h2>Event Registered</h2>

<div>
    <p>
        Thank you for registering for this event!
    </p>
   
    <p>
        @Html.ActionLink("Back To Calendar", "VolunteerCalendar", "VolunteerEvent", null, new { @class = "btn btn-primary" })

        @Html.ActionLink("See Your Events", "UserEventsList", null, new { @class = "btn btn-primary" }) 
    </p>
   

</div>


