@model TheGathering.Web.Models.Volunteer
@{
    ViewBag.Title = "Event Unregistered";
}

<h2>Event Unregistered</h2>

<div>
    <p>
        You have been unregistered from this event!
    </p>
    @Html.ActionLink("To Calendar", "Calendar", "VolunteerEvent", null,  new { @class = "btn btn-primary" })
    @Html.ActionLink("See Your Events", "UserEventsList", null,  new { @class = "btn btn-primary" })

</div>


