@{
    ViewBag.Title = "Email Sent";
}

<div class="row">
    <h1>Thank you for your interest!</h1>
    <p>One of our team members will send you an email about your interest in leadership as soon as possible.</p>
    @Html.ActionLink("Back to calendar", "VolunteerCalendar", "VolunteerEvent", null, new { @class = "btn btn-primary" })
</div>