
@{
    ViewBag.Title = "LeadershipInfo";
}

<h1 class="h1">Interested in Leadership?</h1>

<p class="p">The Gathering relies on strong leaders to help plan and run volunteer events.</p>
<br />
<h2 class="h2">Positions available:</h2>

<h3 class="h3">Coordinate Saturday Lunch (3 locations; training provided)</h3> 
<p class="p">
    Available for individuals or pairs. Coordinators manage Gathering
    Saturday meal sites by welcoming and directing the volunteer serving
    group. Shifts are 9:00 a.m.-2:00 p.m. once every 4-6 weeks at one of our
    three main lunch locations. Volunteers for this leadership opportunity
    should be 21+ and willing to commit to one year of service. <br /> <u><a href="https://static1.squarespace.com/static/5554d75be4b0734af029c7e4/t/5d7942c4dbcad67ccef09adc/1568228046473/SaturdayMealCoordinator.pdf" target="_blank">Learn more</a></u>
</p> 
<br />
<h3 class="h3">Cook Saturday Lunch (training provided)</h3>
<p class="p">
    Individuals are welcome to join a current Saturday Lunch Cook Team.
    Shifts available Saturdays from 7:00-10:00 am once every 4-6 weeks at one
    of our three main lunch locations. Cook teams prepare lunch for 100-300
    Gathering guests, depending on the location. Menus, supplies and training
    provided. Volunteers should be 21+ and willing to commit to one year of
    service. <br /> <u><a href="https://static1.squarespace.com/static/5554d75be4b0734af029c7e4/t/5d79425d1dbee613b38a063e/1568227973106/SaturdayMealCook.pdf" target="_blank">Learn more</a></u>
</p> 
<br />
<p class="p">Want to become a leader? Click below and our team will contact you soon!</p>
<div class="row">
    <div class="col-lg-12">
    @Html.ActionLink("I'm Interested!", "LeadershipEmail", "Volunteer", null, new { @class = "btn btn-primary" })  <br />  <br />
    </div>
</div>