
@{
    ViewBag.Title = "LeadershipInterest";
}

<h2 class="h2">Interested in Leadership?</h2>

<div>
    <p class="p">The gathering needs strong leaders for blah blah blah</p>
    <p class="p">Want to become a leader? Press the button to fill the form!</p>

    <div class="row">
        <input type="submit" class="btn btn-primary" value="Sign Up" />
        <br />
        <br />
    </div>

</div>