
@{
    ViewBag.Title = "LeadershipInfo";
}

<h2 class="h2">Interested in Leadership?</h2>

<p class="p">The gathering needs strong leaders to help with so and so</p>
<br />
<p class="p">Want to become a leader? Click below and our team will contact you soon!</p>
<div class="row">
    <input type="submit" class="btn btn-primary" value="Register" />
    <br />
    <br />
</div>