@model TheGathering.Web.ViewModels.VolunteerModels.SignUpEventViewModel
@{
    ViewBag.Title = "SignUpEvent";
}

<h2>Sign Up for Event</h2>

<div>
    <p>
        Are you sure you would like to sign up for this volunteer event?
    </p>
    <p>

    </p>


</div>