
@{
    ViewBag.Title = "Test";
}

<div class="row" style="margin:40px">
    <h1 class="centerText">
        Join neighbors helping neighbors in efforts to fight hunger in the midst of a pandemic. We are providing meals to-go in service to milwaukee’s hungry and homeless populations.
    </h1>
    <h3 class="centerText">
        Wishlist | Safeguards | Resources
    </h3>
    <center>
        <img src="https://images.squarespace-cdn.com/content/v1/5554d75be4b0734af029c7e4/1587498847462-T3QCQFIC4FPJMS40FZ3K/ke17ZwdGBToddI8pDm48kCUFXj0ViNT1JlOYIK4TZ9NZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpzZY07UiUvg2LJ3EkCDuVmmeiJa7a7myOOqisQ2pCT_wz6F6lKnPM-A575XC9TZ3EM/TheGathering_GivingTuesdayNow_EmailBanner1.png?format=750w" width="60%">
    </center>
</div>

<hr>

<div class="row" style="margin:40px">
    <div class="col-sm-6">
        <h1>
            Our Wishlist
        </h1>
        <p>
            If you are interested in making an in-kind donation, please visit this page for a weekly updated list of urgent needs.
        </p>
        <h3>
            We are completely out and in urgent need of the following supplies:
        </h3>
        <ul style="padding-left:20px">
            <li>
                Bottled Water
            </li>

            <li>
                Juice Boxes
            </li>

            <li>
                Plastic grocery bags (used or new)
            </li>

            <li>
                Granola bars
            </li>

            <li>
                Desserts (Hostess/Little Debbie’s)
            </li>

            <li>
                Tuna pouches
            </li>

            <li>
                Ziplock sandwich bags
            </li>

            <li>
                Pop Tarts
            </li>
        </ul>
        <h3>
            In addition to bag lunch supplies, we are in need of additional supplies, specifically:
        </h3>
        <ul style="padding-left:20px">
            <li>
                Pine Sol
            </li>

            <li>
                Cleaning wipes (lysol, clorox or store brand)
            </li>

            <li>
                Plastic forks
            </li>
        </ul>
        <p>
            All in-kind donations can be dropped off or delivered to the Running Rebels meal site:
        </p>
        <p>
            1300 W Fond du Lac Ave, Milwaukee
        </p>
        <p style="margin-top:20px">
            Donation drop-off is 7-8:30AM and 9:30-10:30AM, M-F and 10AM-11:30AM Saturday
        </p>
    </div>
    <div class="col-sm-6">
        <img src="~/Content/angela.jpg" />
    </div>

</div>

<hr>

<div class="row" style="margin:40px">
    <div class="col-sm-6">
        <h1 style="margin-bottom:0px;">
            Monetary Donations
        </h1>
        <p style="margin-top:10px; margin-bottom:10px">
            In addition to in-kind donations, we are seeking monetary donations to support operations.
        </p>
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-11">
                <h3 style="margin-top:10px; margin-bottom:20px">
                    What is a specific need?
                </h3>

                <p style="margin-top:20px; margin-bottom:10px">
                    We are currently in need of a ventilation system at our Running Rebels meal site. As summer approaches, we need to install an HVAC system in order remain in compliance with food safety standards and increase air flow.
                </p>
            </div>
        </div>
        <p style="margin-top:20px; margin-bottom:20px;">
            Checks can be mailed to:
        </p>
        <p>
            The Gathering of Southeast WI, Inc.
        </p>
        <p>
            804 E.  Juneau Ave.
        </p>
        <p>
            Milwaukee, WI 53202
        </p>

       
        <p  style="margin-top: 10px; margin-bottom:20px">
            Or, you can make a secure online donation by clicking the button below.
        </p>
        <button class="btn-primary">Donate Now</button>

    </div>
    <div class="col-sm-6">

        <img style="margin-top:20px" src="https://images.squarespace-cdn.com/content/v1/5554d75be4b0734af029c7e4/1588983445145-63FE6EVXIEGIS8LPRA1S/ke17ZwdGBToddI8pDm48kIsFcs4ddJ4xdAgYt25yZ9cUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcCvPNPiyW9m3e9QDM5lNzHHmNtsEI8wZQmlxDccV6brheSsn1R55z6asgdGmip5qh/south-side-dinner.jpg?format=500w" class="img-responsive" />
    </div>
</div>

<hr>

<div class="row" style="margin:40px;">
    <div class="col-sm-5 ">
        <img class="img-responsive" src="~/Content/MealProgramSafeguards.png" />
    </div>
    <div class="col-sm-5">
        <h1> Meal Program Safeguards</h1>
        <p>
            As protocols are changing daily, we have been working closely with Milwaukee’s Health Department, and the Executive Committee of our board, to implement the best practices. As a result, we will continue to serve Milwaukee’s hungry in the safest way possible through distribution of bag lunches and meals to-go.
        </p>

    </div>
    <div class="row">
        <div class="col-sm-10 ">

            <h3 style="margin-bottom:20px">
                Safeguards we are implementing beginning Monday, April 13:
            </h3>
            <ul style="padding-left:20px">
                <li style="margin-bottom:20px">
                    We will place the distribution table at the door and instead of just one table we will place 2 tables to increase the width of the distance between staff/volunteers and meals guests.
                </li>
                <li style="margin-bottom:20px">
                    Meal guests will no longer be allowed inside the building.
                </li>
                <li style="margin-bottom:20px">
                    Guests will not be allowed to use the restrooms.
                </li>
                <li style="margin-bottom:20px">
                    We will place one bag on the table at a time-after the guest has picked up their bag we will replace it.
                </li>
                <li style="margin-bottom:20px">
                    For additional items being distributed staff/volunteer will place the item/s in a bag, set the bag on the table and allow the meal guest to pick it up – no handing anything to anyone.
                </li>
                <li style="margin-bottom:20px">
                    Coffee will not be distributed at this time – too many variables with coffee, prep and distribution.
                </li>
                <li style="margin-bottom:20px">
                    Gloves and masks will be worn by all staff and volunteers at all times.
                </li>
                <li  style="margin-bottom:20px">
                    Gloves will be changed more frequently – ie: between tasks and especially if a staff member/volunteer eats anything – to better control the transmission of anything.
                </li>
                <li style="margin-bottom:20px">
                    Gatekeeper will monitor the flow of guests outside prior to and throughout the meal distribution process allowing just one person in at a time and ensuring proper social distancing in the line.
                </li>
            </ul>
        </div>
    </div>
</div>