
@{
    ViewBag.Title = "Test";
}


<div class="container">
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-lg-10">
           <!--Your Code Here-->
        </div>
    </div>
</div>