
@{
    ViewBag.Title = "Test";
}


<div class="container">
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-lg-10">
            <div class="container-fluid">
                <div class="row">
                    <p class="MinorHeadingNormal" style="text-align:center">
                        JOIN NEIGHBORS HELPING NEIGHBORS IN EFFORTS TO FIGHT HUNGER IN THE MIDST OF A PANDEMIC. WE ARE PROVIDING MEALS TO-GO IN SERVICE TO MILWAUKEE’S HUNGRY AND HOMELESS POPULATIONS.
                    </p>
                    <p class="MinorHeadingNormal" style="text-align:center">
                        WISHLIST | SAFEGUARDS | RESOURCES
                    </p>
                    <center>
                        <img src="https://images.squarespace-cdn.com/content/v1/5554d75be4b0734af029c7e4/1587498847462-T3QCQFIC4FPJMS40FZ3K/ke17ZwdGBToddI8pDm48kCUFXj0ViNT1JlOYIK4TZ9NZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpzZY07UiUvg2LJ3EkCDuVmmeiJa7a7myOOqisQ2pCT_wz6F6lKnPM-A575XC9TZ3EM/TheGathering_GivingTuesdayNow_EmailBanner1.png?format=750w" alt="alternatetext" style="align:center">
                    </center>
                </div>
            </div>
        </div>

    </div>
</div>