
@{
    ViewBag.Title = "Test";
}


<div class="container">
    <div class="row">
        <div class="col-sm-1">
<div class="MajorHeadingNormal">
    Monetary Donations
</div>

        </div>
        <div class="col-lg-10">
<div class="BodyTextMediumNormal">
    In addition to in-kind donations, we are seeking monetary donations to support operations.
</div>

<div class="BodyTextMediumNormal">
    What is a specific need
</div>

<div class="BodyTextMediumNormal">
    We are currently in need of a ventilation system at our Running Rebels meal site. As summer approaches, we need to install an HVAC system in order remain in compliance with food safety standards and increase air flow.
</div>
        </div>
    </div>
</div>