body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #faf6eb;
    color: rgba(69,53,40,.8);
    font-family: Baskerville;
}

td {
    vertical-align: middle !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2 {
    font-family: Sofia Pro Semi Bold;
}

h4 {
    font-family: Sofia Pro Semi Bold;
}

#myMap {
    position: relative;
    width: 100%;
    height: 600px;
}
#zipReturn {
    margin-top: 20px;
}
#logo {
    height: 3.5cm;
}

.placeholderLocation {
    height:103.2px;
}

.navbar {
    background-color: #434345;
}