/* Sofia Pro Semi Bold */
@font-face {
    font-family: Sofia Pro SemiBold;
    src: url('Fonts/Sofia Pro SemiBold.ttf');
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #faf6eb;
    color: rgba(69,53,40,.8);
    font-family: Baskerville;
}

td {
    vertical-align: middle !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Apply Font to Headers */
h1,
h2,
h3,
h4,
th {
    font-family: Sofia Pro SemiBold;
}

/* Bing Maps */
#myMap {
    position: relative;
    width: 100%;
    height: 600px;
}
#zipReturn {
    margin-top: 20px;
}

/* TEMP Navbar */
.navbar {
    background-color: #434345;
}

/* Gold Buttons */
.btn-gold {
    background-color: #B89252 !important;
    border-color: #b58e4a !important;
    color: #ffffff !important;
}

    .btn-gold:hover {
        background-color: #91713b !important;
        border-color: #886a37 !important;
        color: #f2f2f2 !important;
    }

/* Grey Buttons */
.btn-grey {
    background-color: #434345 !important;
    border-color: #3f3f40 !important;
    color: #ffffff !important;
}

    .btn-grey:hover {
        background-color: #58585a !important;
        border-color: #4c4c4d !important;
        color: #ffffff !important;
    }

/* Margin Around Buttons */
.btn-margin {
    margin:10px;
}