
/*body {
﻿/* Sofia Pro Semi Bold */
@font-face {
    font-family: Sofia Pro SemiBold;
    src: url('Fonts/Sofia Pro SemiBold.ttf');
}

*/
    background-color: #faf6eb;
    color: rgba(69,53,40,.8);
    font-family: Baskerville;
}

*/
background-color: #faf6eb;
color: rgba(69,53,40,.8);
font-family: Baskerville;
}

td {
    vertical-align: middle !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.dates {
    font-family: Baskerville;
    color: #B9B0A5;
    font-size: medium;
    font-weight: 400;
    line-height: 1.6;
}

.leftNavBar {
    font-family: Sofia Pro, sans-serif;
    color: #B9B0A5;
    font-size: medium;
    font-weight: 400;
}

    .leftNavBar :hover {
        font-family: Sofia Pro, sans-serif;
        color: #434345;
        font-size: medium;
        font-weight: 400;
    }

.Navbar {
    font-family: Sofia Pro, sans-serif;
    color: #B0D0B9;
    font-size: medium;
    font-weight: 600;
    text-transform: uppercase;
}
li {
    font-family: Baskerville;
    color: #434345;
    font-size: medium;
    font-weight: 400;
}
h1 {
    font-family: Sofia Pro, sans-serif;
    color: #434345;
    font-size: xx-large;
    font-weight: 400;
}

h3 {
    font-family: Sofia Pro, sans-serif;
    color: #434345;
    font-size: large;
    font-weight: 400;
    text-transform: uppercase;
}

p{
    font-family: Baskerville;
    color: #434345;
    font-size: medium;
    font-weight: 400;
}

.Links {
    font-family: Baskerville;
    color: #434345;
    font-size: medium;
    font-weight: 600;
}

.MainButtons {
    font-family: Baskerville;
    color: white;
    font-size: medium;
    font-weight: 600;
    text-transform: uppercase;
}

.SecondaryButtons {
    font-family: Baskerville;
    color: #B0D0B9;
    font-size: medium;
    font-weight: 600;
    text-transform: uppercase;
}

.CenterText {
    text-align: center;
}
.semibold{
    font-weight:600;
}

.FooterText {
    font-family: Sofia Pro, sans-serif;
    color: #434345;
    font-size: small;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.6;
}

.btn-primary {
    font-family: Sofia Pro, sans-serif;
    background-color: #434345;
    padding: 10px;
    border-color: #434345;
    border-width: thin;
    border-style: none;
}

    .btn-primary:hover {
        background-color: #434345 ; 
        opacity:0.9 ;
    }



/*
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
        
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }
    
}
*/
/*.navigation {
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    color: #B0D0B9;
    letter-spacing: 1px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    text-decoration: none;
    vertical-align: central;
    cursor: pointer;
    transition-duration: 0.2s;
    display: inline-block;
}

    .navigation:hover {
        color: white;
        background-color: #434345;
    }
*/
.background {
    background-color: #434345;
}

.body-back-color {
    /*style guide gold */
    /*background-color: #B89252;*/
    /*original yellow*/
    /*background-color: #FAF6EB;*/
    /*accent purple*/
    /*background-color: #750049;*/
    /*accent green*/
    /*background-color: #B0D0B9;*/
}
/*
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: pink;
}
*/
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/* experimental */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #434345;
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
}

.logo {
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

    .nav-links li {
        list-style: none;
    }

    .nav-links a {
        color: #B0D0B9;
        text-decoration: none;
        letter-spacing: 2px;
        font-weight: 400;
        font-size: 11px;
        font-family: Arial;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .nav-links li a:hover {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

.burger {
    display: none;
    cursor: pointer;
}

    .burger div {
        width: 25px;
        height: 3px;
        background-color: #B0D0B9;
        margin: 5px;
        transition: all 0.3s ease;
    }

@media screen and (max-width: 1200px) {
    .nav-links {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        right: 0px;
        height: 450px;
        top: 8vh;
        background-color: #434345;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

        .nav-links li {
            opacity: 0;
        }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}




@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.sub-menu-1 {
    display: none;
}

/*SubMenu 1*/
.nav-links li:hover .sub-menu-1 {
    position: absolute;
    z-index: 1;
    background: #434345;
    display: block;
    align-items: center;
    width: 12%;
    height: auto;
    margin-left: -20px;
}

    .nav-links li:hover .sub-menu-1 ul {
        margin: 10px;
        color: #B0D0B9;
        text-decoration: none;
        letter-spacing: 2px;
        font-weight: 400;
        font-size: 11px;
        font-family: Arial;
    }

        .nav-links li:hover .sub-menu-1 ul li {
            width: 150px;
            padding: 10px;
            text-align: left;
            cursor: pointer;
            transition: all 0.2s ease;
        }

.nav-links li .sub-menu-1 a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.donate {
    padding: 9px 25px;
    background-color: #434345;
    border: 2px solid;
    border-color: #B0D0B9;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

    .donate:hover {
        background-color: #B0D0B9;
        color: black;
    }

.body-back-color {
    /*style guide gold */
    /*background-color: #B89252;*/
    /*original yellow*/
    background-color: #FAF6EB;
    /*accent purple*/
    /*background-color: #750049;*/
    /*accent green*/
    /*background-color: #B0D0B9;*/
}
.theFooter {

   padding: 64px 32px;
   margin-right:154.5px;
   margin-left: 154.5px;
}

#footerlink {
    color: #434345;
}

/* Apply Font to Headers */



/* Bing Maps */
#myMap {
    position: relative;
    width: 100%;
    height: 600px;
}

#zipReturn {
    margin-top: 20px;
}

/* TEMP Navbar */
.navbar {
    background-color: #434345;
}

/* Gold Buttons */
.btn-gold {
    background-color: #B89252 !important;
    border-color: #b58e4a !important;
    color: #ffffff !important;
}

    .btn-gold:hover {
        background-color: #91713b !important;
        border-color: #886a37 !important;
        color: #f2f2f2 !important;
    }

/* Grey Buttons */
.btn-grey {
    background-color: #434345 !important;
    border-color: #3f3f40 !important;
    color: #ffffff !important;
}

    .btn-grey:hover {
        background-color: #58585a !important;
        border-color: #4c4c4d !important;
        color: #ffffff !important;
    }

/* Margin Around Buttons */
.btn-margin {
    margin: 10px;
}
