@{
    ViewBag.Title = "Home Page";
}
<div align="center">
    <h1>Mission Statment</h1>

    <p>
        THE MISSION of the Gathering is to provide meals and associated services to those who would otherwise go hungry or without. WE RESPECT the dignity and values of every individual we serve and value our volunteers who allow us to serve the community. WE ACT directly and in concert with others to alleviate hunger and to address the root causes and related problems associated with hunger. OUR SUCCESS is demonstrated by providing quality services to our guests and remaining a viable volunteer-driven organization.
    </p>

    <h1>Vision Statment</h1>

    <p>A community of guests, volunteers and staff united by a common goal: to feed the hungry in body, mind and spirit.</p>

    <h1>Volunteer</h1>

    <p>Join the hundreds of volunteers that help feed Milwaukee’s hungry.Volunteers should be friendly, helpful and willing to assist where needed. For volunteers 17 years of age and under, please review our <a href="https://static1.squarespace.com/static/5554d75be4b0734af029c7e4/t/56fc1e42356fb07befb544fb/1459363401763/Youth+Policy+Updated+March+2016.pdf">Children and Youth Volunteer Policy</a>. Parents should create an account for their child to volunteer. </p>

</div>

<img class="img-responsive" src="~/Content/The_Gathering_F2_Black.png" style="display: block; margin-left: auto; margin-right: auto; width: 65%;"/>










