@{
    ViewBag.Title = "Home Page";
}
<div align="center">
    <h1>Mission Statment</h1>

    <p>
        THE MISSION of the Gathering is to provide meals and associated services to those who would otherwise go hungry or without. WE RESPECT the dignity and values of every individual we serve and value our volunteers who allow us to serve the community. WE ACT directly and in concert with others to alleviate hunger and to address the root causes and related problems associated with hunger. OUR SUCCESS is demonstrated by providing quality services to our guests and remaining a viable volunteer-driven organization.
    </p>

</div>

<img class="img-responsive" src="~/Content/The_Gathering_F2_Black.png" style="display: block; margin-left: auto; margin-right: auto; width: 65%;"/>










