
@{
    ViewBag.Title = "EventAlreadyRegistered";
}

<h2>Event Already Registered</h2>
<p>You have already registered for this event.</p>
<br />

<p>
    @Html.ActionLink("Back To Calendar", "Calendar", "VolunteerEvent", null, null)
</p>
<p>
    @Html.ActionLink("See Your Events", "GroupEventsList", null, null)
</p>
