@model TheGathering.Web.ViewModels.VolunteerEmailViewModel
@{
    ViewBag.Title = "EmailEventVolunteers";
}

<script type="text/javascript">
    function noEnter()
    {
        return !(window.event && window.event.keyCode == 13);
    }
</script>

<h2>Email Event Volunteers</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", @type = "text", @onkeypress = "return noEnter" } })
        </div>
    </div>
}